#########################################
# THIS FILE IS DYNAMICALLY GENERATED    #
# Run the following to update the file: #
#   $ ./make.py workflow                #
#########################################
name: Build images
on:
  pull_request: &on-filter
    branches:
      - master
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/build-variant.yaml
      - .github/workflows/iso.yaml
      - .github/workflows/manifest.yaml
      - ".github/actions/**"
      - "tools/dockerfile2llbjson/**"
      - "make/__main__.py"
      - "make/__init__.py"
      - "make/iso.py"
      - "make/scan.py"
      - "make/build.py"
      - "make/checkupdates.py"
      - "make/manifest.py"
      - "make/check.py"
      - make.py
      - seccomp.json
      - .containerignore
      - "overlay/**"
      - "templates/**"
      - "variants/**"
  push: *on-filter
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

concurrency:
  group: build-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  ######################################
  #             UNIQUE             #
  ######################################

  notifications:
    name: Clear notifications
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Clean cancellation notifications
        uses: ./.github/actions/clean-cancelled-notifications
        with:
          pat: ${{ secrets.NOTIFICATION_PAT }}

  wait:
    name: Wait for builder to finish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
    steps:
      - name: Wait
        uses: NathanFirmo/wait-for-other-action@8241e29ea2e9661a8af6d319b1d074825a299730
        with:
          token: ${{ github.token }}
          workflow: 'tool-builder.yaml'

  check:
    name: Ensure config is valid
    runs-on: ubuntu-latest
    needs: wait
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/eeems/arkes-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('.github/workflows/Dockerfile.builder') }}-${{ hashFiles('make.py') }}
      - name: Cache go
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/go.sum') }}
      - name: Ensure config is valid
        shell: bash
        run: |
          set -e
          ./make.py check
          ./make.py workflow
          git config --global --add safe.directory "$(realpath .)"
          if [[ -n "$(git status -s)" ]]; then
            echo "Please run ./make.py workflow, commit the changes, and try again."
            git status -s
            exit 1
          fi
        env:
          TMPDIR: ${{ runner.temp }}

  manifest:
    name: Generate manifest
    if: "!cancelled()"
    needs:
    uses: ./.github/workflows/manifest.yaml
    secrets: inherit
    permissions: &permissions
      contents: write
      actions: write
      packages: write
      security-events: write
    with:
      cache: false

  ######################################
  #             BUILD              #
  ######################################

  rootfs:
    name: Build eeems/arkes:rootfs image
    needs: check
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: rootfs
      push: true

  base:
    name: Build eeems/arkes:base image
    needs: rootfs
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      updates: ${{ fromJson(needs['rootfs'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: rootfs
      digest: ${{ needs['rootfs'].outputs.digest }}

  atomic:
    name: Build eeems/arkes:atomic image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  atomic-nvidia:
    name: Build eeems/arkes:atomic-nvidia image
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      updates: ${{ fromJson(needs['atomic'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}

  base-slim:
    name: Build eeems/arkes:base-slim image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  eeems:
    name: Build eeems/arkes:eeems image
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      updates: ${{ fromJson(needs['atomic'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}

  eeems-nvidia:
    name: Build eeems/arkes:eeems-nvidia image
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      updates: ${{ fromJson(needs['eeems'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}

  eeems-system76:
    name: Build eeems/arkes:eeems-system76 image
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      updates: ${{ fromJson(needs['eeems'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}

  gnome:
    name: Build eeems/arkes:gnome image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  ######################################
  #             SCAN               #
  ######################################

  scan_rootfs:
    name: Scan image for rootfs
    if: github.event_name != 'pull_request' || fromJson(needs['rootfs'].outputs.updates)
    needs: rootfs
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: rootfs
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['rootfs'].outputs.updates) && 'rootfs' || '' }}
      digest: ${{ needs['rootfs'].outputs.digest }}

  scan_base:
    name: Scan image for base
    if: github.event_name != 'pull_request' || fromJson(needs['base'].outputs.updates)
    needs: base
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['base'].outputs.updates) && 'base' || '' }}
      digest: ${{ needs['base'].outputs.digest }}

  scan_atomic:
    name: Scan image for atomic
    if: github.event_name != 'pull_request' || fromJson(needs['atomic'].outputs.updates)
    needs: atomic
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['atomic'].outputs.updates) && 'atomic' || '' }}
      digest: ${{ needs['atomic'].outputs.digest }}

  scan_atomic-nvidia:
    name: Scan image for atomic-nvidia
    if: github.event_name != 'pull_request' || fromJson(needs['atomic-nvidia'].outputs.updates)
    needs: atomic-nvidia
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['atomic-nvidia'].outputs.updates) && 'atomic-nvidia' || '' }}
      digest: ${{ needs['atomic-nvidia'].outputs.digest }}

  scan_base-slim:
    name: Scan image for base-slim
    if: github.event_name != 'pull_request' || fromJson(needs['base-slim'].outputs.updates)
    needs: base-slim
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['base-slim'].outputs.updates) && 'base-slim' || '' }}
      digest: ${{ needs['base-slim'].outputs.digest }}

  scan_eeems:
    name: Scan image for eeems
    if: github.event_name != 'pull_request' || fromJson(needs['eeems'].outputs.updates)
    needs: eeems
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['eeems'].outputs.updates) && 'eeems' || '' }}
      digest: ${{ needs['eeems'].outputs.digest }}

  scan_eeems-nvidia:
    name: Scan image for eeems-nvidia
    if: github.event_name != 'pull_request' || fromJson(needs['eeems-nvidia'].outputs.updates)
    needs: eeems-nvidia
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['eeems-nvidia'].outputs.updates) && 'eeems-nvidia' || '' }}
      digest: ${{ needs['eeems-nvidia'].outputs.digest }}

  scan_eeems-system76:
    name: Scan image for eeems-system76
    if: github.event_name != 'pull_request' || fromJson(needs['eeems-system76'].outputs.updates)
    needs: eeems-system76
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['eeems-system76'].outputs.updates) && 'eeems-system76' || '' }}
      digest: ${{ needs['eeems-system76'].outputs.digest }}

  scan_gnome:
    name: Scan image for gnome
    if: github.event_name != 'pull_request' || fromJson(needs['gnome'].outputs.updates)
    needs: gnome
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['gnome'].outputs.updates) && 'gnome' || '' }}
      digest: ${{ needs['gnome'].outputs.digest }}

  ######################################
  #             ISO                #
  ######################################

  online_iso_base:
    name: Generate iso for base
    needs: base
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['base'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_base:
    name: Generate iso for base
    needs: base
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['base'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_atomic:
    name: Generate iso for atomic
    needs: atomic
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['atomic'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_atomic:
    name: Generate iso for atomic
    needs: atomic
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['atomic'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_atomic-nvidia:
    name: Generate iso for atomic-nvidia
    needs: atomic-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      artifact: atomic-nvidia
      digest: ${{ needs['atomic-nvidia'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['atomic-nvidia'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_atomic-nvidia:
    name: Generate iso for atomic-nvidia
    needs: atomic-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      artifact: atomic-nvidia
      digest: ${{ needs['atomic-nvidia'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['atomic-nvidia'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_base-slim:
    name: Generate iso for base-slim
    needs: base-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      artifact: base-slim
      digest: ${{ needs['base-slim'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['base-slim'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_base-slim:
    name: Generate iso for base-slim
    needs: base-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      artifact: base-slim
      digest: ${{ needs['base-slim'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['base-slim'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_eeems:
    name: Generate iso for eeems
    needs: eeems
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_eeems:
    name: Generate iso for eeems
    needs: eeems
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_eeems-nvidia:
    name: Generate iso for eeems-nvidia
    needs: eeems-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      artifact: eeems-nvidia
      digest: ${{ needs['eeems-nvidia'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems-nvidia'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_eeems-nvidia:
    name: Generate iso for eeems-nvidia
    needs: eeems-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      artifact: eeems-nvidia
      digest: ${{ needs['eeems-nvidia'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems-nvidia'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_eeems-system76:
    name: Generate iso for eeems-system76
    needs: eeems-system76
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      artifact: eeems-system76
      digest: ${{ needs['eeems-system76'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems-system76'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_eeems-system76:
    name: Generate iso for eeems-system76
    needs: eeems-system76
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      artifact: eeems-system76
      digest: ${{ needs['eeems-system76'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems-system76'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}

  online_iso_gnome:
    name: Generate iso for gnome
    needs: gnome
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      artifact: gnome
      digest: ${{ needs['gnome'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['gnome'].outputs.updates) }}
      offline: false
      push: ${{ github.event_name != 'pull_request' }}

  offline_iso_gnome:
    name: Generate iso for gnome
    needs: gnome
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      artifact: gnome
      digest: ${{ needs['gnome'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['gnome'].outputs.updates) }}
      offline: true
      push: ${{ github.event_name != 'pull_request' }}
