name: Build images
on:
  pull_request: &on-filter
    branches:
      - master
    paths:
      - .github/workflows/build.yaml
      - ".github/actions/cleanup/**"
      - ".github/actions/build/**"
      - make.py
      - seccomp.json
      - .contianerignore
      - "overlay/**"
      - "templates/**"
      - "variants/**"
  push: *on-filter
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

jobs:
  check:
    name: Ensure config is valid
    runs-on: ubuntu-latest
    container: &builder
      image: docker.io/eeems/atomic-arch:_builder
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('.github/workflows/Dockerfile.builder') }}-${{ hashFiles('make.py') }}
      - name: Ensure config is valid
        run: ./make.py check
        env:
          TMPDIR: ${{ runner.temp }}
  rootfs:
    name: Build atomic-arch:rootfs
    runs-on: ubuntu-latest
    container: *builder
    needs: [check]
    permissions:
      contents: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: rootfs
      - name: Ignore git repo permission concerns
        run: git config --global --add safe.directory "$(realpath .)"
      - name: Auto commit any updates
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: |
            Automated rootfs update
            skip-checks:true
  base:
    name: atomic-arch:base image
    runs-on: ubuntu-latest
    container: *builder
    needs: [rootfs]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: base
          updates: ${{ needs.rootfs.outputs.Updates}}
  atomic:
    name: atomic-arch:atomic image
    runs-on: ubuntu-latest
    container: *builder
    needs: [base]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: atomic
          updates: ${{ needs.base.outputs.Updates}}
  gnome:
    name: atomic-arch:gnome image
    runs-on: ubuntu-latest
    container: *builder
    needs: [base]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: gnome
          updates: ${{ needs.base.outputs.Updates}}
  eeems:
    name: atomic-arch:eeems image
    runs-on: ubuntu-latest
    container: *builder
    needs: [atomic]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: eeems
          updates: ${{ needs.atomic.outputs.Updates}}
  system76:
    name: atomic-arch:${{ matrix.variant }}-system76
    runs-on: ubuntu-latest
    container: *builder
    strategy:
      fail-fast: false
      matrix:
        variant:
          - atomic
          - gnome
          - eeems
    needs:
      - base
      - atomic
      - gnome
      - eeems
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: ${{ matrix.variant }}-system76
          updates: ${{ needs[matrix.variant].outputs.Updates}}
  nvidia:
    name: atomic-arch:${{ matrix.variant }}-nvidia
    runs-on: ubuntu-latest
    container: *builder
    strategy:
      fail-fast: false
      matrix:
        variant:
          - base
          - atomic
          - gnome
          - eeems
          - atomic-system76
          - gnome-system76
          - eeems-system76
    needs:
      - base
      - atomic
      - gnome
      - eeems
      - system76
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: ${{ matrix.variant }}-nvidia
          updates: ${{ needs[matrix.variant].outputs.Updates}}
  slim:
    name: atomic-arch:${{ matrix.variant }}-slim
    runs-on: ubuntu-latest
    container: *builder
    strategy:
      fail-fast: false
      matrix:
        variant:
          - base
          - atomic
          - gnome
          - eeems
          - atomic-system76
          - gnome-system76
          - eeems-system76
    needs:
      - base
      - atomic
      - gnome
      - eeems
      - system76
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Free up space
        uses: ./.github/actions/cleanup
        with:
          root: /run/host
      - name: Build
        uses: ./.github/actions/build
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: ${{ matrix.variant }}-slim
          updates: ${{ needs[matrix.variant].outputs.Updates}}
  iso:
    name: atomic-arch:${{ matrix.variant }}${{ matrix.subvariant }} iso
    runs-on: ubuntu-latest
    container: *builder
    strategy: &all-variants
      fail-fast: false
      matrix:
        variant:
          - base
          - atomic
          - gnome
          - eeems
          - atomic-system76
          - gnome-system76
          - eeems-system76
        subvariant:
          - ""
          - -nvidia
          - -slim
    needs: &all-builds
      - base
      - atomic
      - gnome
      - eeems
      - system76
      - nvidia
      - slim
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
            libdbus-1-dev
            libdbus-glib-1-dev
      - name: Install python dependencies
        run: |
          pip install dbus-python
      - name: Free up space
        uses: ./.github/actions/cleanup
        with:
          root: /run/host
      - name: Build
        run: |
          if [ ! -f /etc/containers/seccomp.json ];then
            cp seccomp.json /etc/containers/seccomp.json
          fi
          ./make.py iso ${{ matrix.variant }}${{ matrix.subvariant }}
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Upload iso
        uses: actions/upload-artifact@v4
        with:
          name: atomic-arch-${{ matrix.variant }}${{ matrix.subvariant }}.iso
          path: /var/lib/system/atomic-arch-${{ matrix.variant }}${{ matrix.subvariant }}-*.iso
  delta:
    name: Generate deltas for ${{ matrix.variant }}${{ matrix.subvariant }}
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    container: *builder
    strategy: *all-variants
    needs: *all-builds
    steps:
      - name: Ensure .docker exists
        run: |
          mkdir -p /github/home/.docker
          if ! [ -f /github/home/.docker/config.json ];then
            echo '{"auths":{}}' > /github/home/.docker/config.json
          fi
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
          auth_file_path: /run/containers/0/auth.json
      - name: Build
        id: build
        run: |
          mkdir -p /run/podman
          podman system service --time 0 unix:///run/podman/podman.sock &
          ./make.py delta ${{ matrix.variant }}${{ matrix.subvariant }}
          kill $(jobs -p)
        env:
          updates: ${{ inputs.updates }}
          TMPDIR: ${{ runner.temp }}
