name: Build an image

on:
  workflow_call:
    secrets:
      DISPATCH_PAT:
        required: true
    inputs:
      variant:
        type: string
        required: true
      updates:
        type: boolean
        required: false
        default: false
      cleanup:
        type: boolean
        required: false
        default: false
      push:
        type: boolean
        required: false
        default: false
    outputs:
      updates:
        value: ${{ jobs.run.outputs.updates }}

permissions:
  contents: write
  actions: write
  packages: write
  security-events: write

jobs:
  run:
    name: atomic-arch:${{ inputs.variant }} image
    runs-on: ubuntu-latest
    outputs:
      updates: ${{ steps.build.outputs.updates }}
    container:
      image: ghcr.io/eeems/atomic-arch-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Ensure .docker exists
        run: |
          mkdir -p /github/home/.docker
          if ! [ -f /github/home/.docker/config.json ];then
            echo '{"auths":{}}' > /github/home/.docker/config.json
          fi

      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json

      - name: Free up space
        if: ${{ inputs.cleanup }}
        uses: ./.github/actions/cleanup
        with:
          root: /run/host

      - name: Build
        id: build
        shell: bash
        run: |
          git config --global --add safe.directory "$(realpath .)"
          mkdir -p /run/podman
          podman system service --time 0 unix:///run/podman/podman.sock &
          echo "::group::checkupdates"
          push=false
          args=""
          if [[ "${{ inputs.push }}" == "true" ]];then
            push=true
            args="--push"
          fi
          if [[ "$VARIANT" == "rootfs" ]];then
            set +e
            output=$(./make.py checkupdates)
            res=$?
            echo $output
            set -e
            if [ $res -eq 2 ];then
              echo "::endgroup::"
              echo "::group::build"
              if [[ "$output" == *"mirrorlist "* ]]; then
                ./make.py rootfs $args
              else
                ./make.py build $args rootfs
              fi
              echo "updates=true" >> $GITHUB_OUTPUT
              echo "::endgroup::"
            elif [ $res -ne 0 ];then
              exit 1
            else
              echo "No Updates"
              echo "::endgroup::"
              echo "::group::push"
              ./make.py push ${{ inputs.variant }}
              echo "updates=false" >> $GITHUB_OUTPUT
              echo "::endgroup::"
            fi
          else
            if [[ "$updates" == "true" ]]; then
              echo "Previous image updated"
              res=2
            else
              set +e
              ./make.py checkupdates --target=${{ inputs.variant }}
              res=$?
              set -e
            fi
            if [ $res -eq 2 ];then
              echo "::endgroup::"
              echo "::group::build"
              ./make.py build $args ${{ inputs.variant }}
              echo "updates=true" >> $GITHUB_OUTPUT
              echo "::endgroup::"
            elif [ $res -ne 0 ];then
              exit 1
            elif $push;then
              echo "No Updates"
              echo "::endgroup::"
              echo "::group::push"
              ./make.py push ${{ inputs.variant }}
              echo "updates=false" >> $GITHUB_OUTPUT
              echo "::endgroup::"
            fi
          fi
          kill $(jobs -p) || true
        env:
          updates: ${{ inputs.updates }}
          TMPDIR: ${{ runner.temp }}
          VARIANT: ${{ inputs.variant }}

      - name: Auto commit any updates
        if: inputs.push && inputs.variant == 'rootfs'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: |
            Automated rootfs update
            skip-checks:true

      - name: Trigger ISO and delta builds
        if: inputs.push && steps.build.outputs.updates
        run: |
          if [[ "$VARIANT" != "rootfs" ]];then
            gh workflow run iso.yaml \
              --ref ${{ github.ref }} \
              -f variant=${{ inputs.variant }}
          fi

          gh workflow run delta.yaml \
            --ref ${{ github.ref }} \
            -f variant=${{ inputs.variant }}
        env:
          GH_TOKEN: ${{ secrets.DISPATCH_PAT }}
          VARIANT: ${{ inputs.variant }}

      - name: Trivy cache
        uses: actions/cache@v4
        with:
          path: ./.trivy
          key: trivy-${{ hashFiles('make.py') }}

      - name: Scan container
        shell: bash
        run: |
          podman system service --time 0 unix:///run/podman/podman.sock &
          ./make.py scan ${{ inputs.variant }}
          cat .trivy/report.md >> $GITHUB_STEP_SUMMARY
          rm .trivy/report.json
          rm .trivy/report.md
          mv .trivy/report.sarif .
          kill $(jobs -p) || true

      - name: Upload Scan results to GitHub Security tab
        if: inputs.push
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "report.sarif"
          category: ${{ inputs.variant }}
