name: Build images
on:
  pull_request: &on-filter
    branches:
      - master
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/build-variant.yaml
      - ".github/actions/cleanup/**"
      - make.py
      - seccomp.json
      - .containerignore
      - "overlay/**"
      - "templates/**"
      - "variants/**"
  push: *on-filter
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

jobs:

  ######################################
  #             UNIQUE             #
  ######################################

  notifications:
    name: Clear notifications
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Clean cancellation notifications
        uses: ./.github/actions/clean-cancelled-notifications
        with:
          pat: ${{ secrets.NOTIFICATION_PAT }}

  check:
    name: Ensure config is valid
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/eeems/atomic-arch-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('.github/workflows/Dockerfile.builder') }}-${{ hashFiles('make.py') }}
      - name: Ensure config is valid
        run: ./make.py check
        env:
          TMPDIR: ${{ runner.temp }}

  manifest:
    name: Generate manifest
    needs:
      - delta_atomic
      - delta_atomic-nvidia
      - delta_atomic-slim
      - delta_atomic-system76
      - delta_atomic-system76-nvidia
      - delta_base
      - delta_base-nvidia
      - delta_base-slim
      - delta_eeems
      - delta_eeems-nvidia
      - delta_eeems-slim
      - delta_eeems-system76
      - delta_eeems-system76-nvidia
      - delta_gnome
      - delta_gnome-nvidia
      - delta_gnome-slim
      - delta_gnome-system76
      - delta_gnome-system76-nvidia
      - delta_rootfs
    uses: ./.github/workflows/manifest.yaml
    secrets: inherit
    permissions: &permissions
      contents: write
      actions: write
      packages: write
      security-events: write

  ######################################
  #             BUILD              #
  ######################################

  atomic:
    name: Build atomic-arch:atomic image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      updates: ${{ fromJson(needs.base.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  atomic-nvidia:
    name: Build atomic-arch:atomic-nvidia image
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      updates: ${{ fromJson(needs.atomic.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  atomic-slim:
    name: Build atomic-arch:atomic-slim image
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-slim
      updates: ${{ fromJson(needs.atomic.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}
      cleanup: true

  atomic-system76:
    name: Build atomic-arch:atomic-system76 image
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-system76
      updates: ${{ fromJson(needs.atomic.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  atomic-system76-nvidia:
    name: Build atomic-arch:atomic-system76-nvidia image
    needs: atomic-system76
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-system76-nvidia
      updates: ${{ fromJson(needs.atomic-system76.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  base:
    name: Build atomic-arch:base image
    needs: rootfs
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      updates: ${{ fromJson(needs.rootfs.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  base-nvidia:
    name: Build atomic-arch:base-nvidia image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-nvidia
      updates: ${{ fromJson(needs.base.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  base-slim:
    name: Build atomic-arch:base-slim image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      updates: ${{ fromJson(needs.base.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}
      cleanup: true

  eeems:
    name: Build atomic-arch:eeems image
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      updates: ${{ fromJson(needs.atomic.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  eeems-nvidia:
    name: Build atomic-arch:eeems-nvidia image
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      updates: ${{ fromJson(needs.eeems.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  eeems-slim:
    name: Build atomic-arch:eeems-slim image
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-slim
      updates: ${{ fromJson(needs.eeems.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}
      cleanup: true

  eeems-system76:
    name: Build atomic-arch:eeems-system76 image
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      updates: ${{ fromJson(needs.eeems.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  eeems-system76-nvidia:
    name: Build atomic-arch:eeems-system76-nvidia image
    needs: eeems-system76
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76-nvidia
      updates: ${{ fromJson(needs.eeems-system76.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  gnome:
    name: Build atomic-arch:gnome image
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      updates: ${{ fromJson(needs.base.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  gnome-nvidia:
    name: Build atomic-arch:gnome-nvidia image
    needs: gnome
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-nvidia
      updates: ${{ fromJson(needs.gnome.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  gnome-slim:
    name: Build atomic-arch:gnome-slim image
    needs: gnome
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-slim
      updates: ${{ fromJson(needs.gnome.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}
      cleanup: true

  gnome-system76:
    name: Build atomic-arch:gnome-system76 image
    needs: gnome
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-system76
      updates: ${{ fromJson(needs.gnome.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  gnome-system76-nvidia:
    name: Build atomic-arch:gnome-system76-nvidia image
    needs: gnome-system76
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-system76-nvidia
      updates: ${{ fromJson(needs.gnome-system76.outputs.updates) }}
      push: ${{ github.ref_name == 'master' }}

  rootfs:
    name: Build atomic-arch:rootfs image
    needs: check
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: rootfs

  ######################################
  #             DELTA              #
  ######################################

  delta_atomic:
    name: Generate deltas for atomic
    needs: atomic
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_atomic-nvidia:
    name: Generate deltas for atomic-nvidia
    needs: atomic-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_atomic-slim:
    name: Generate deltas for atomic-slim
    needs: atomic-slim
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-slim
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_atomic-system76:
    name: Generate deltas for atomic-system76
    needs: atomic-system76
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-system76
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_atomic-system76-nvidia:
    name: Generate deltas for atomic-system76-nvidia
    needs: atomic-system76-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-system76-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_base:
    name: Generate deltas for base
    needs: base
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_base-nvidia:
    name: Generate deltas for base-nvidia
    needs: base-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_base-slim:
    name: Generate deltas for base-slim
    needs: base-slim
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_eeems:
    name: Generate deltas for eeems
    needs: eeems
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_eeems-nvidia:
    name: Generate deltas for eeems-nvidia
    needs: eeems-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_eeems-slim:
    name: Generate deltas for eeems-slim
    needs: eeems-slim
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-slim
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_eeems-system76:
    name: Generate deltas for eeems-system76
    needs: eeems-system76
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_eeems-system76-nvidia:
    name: Generate deltas for eeems-system76-nvidia
    needs: eeems-system76-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_gnome:
    name: Generate deltas for gnome
    needs: gnome
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_gnome-nvidia:
    name: Generate deltas for gnome-nvidia
    needs: gnome-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_gnome-slim:
    name: Generate deltas for gnome-slim
    needs: gnome-slim
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-slim
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_gnome-system76:
    name: Generate deltas for gnome-system76
    needs: gnome-system76
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-system76
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_gnome-system76-nvidia:
    name: Generate deltas for gnome-system76-nvidia
    needs: gnome-system76-nvidia
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-system76-nvidia
      push: ${{ github.ref_name == 'master' }}
      recreate: false

  delta_rootfs:
    name: Generate deltas for rootfs
    needs: rootfs
    uses: ./.github/workflows/delta.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: rootfs
      recreate: false

  ######################################
  #             ISO                #
  ######################################

  iso_atomic:
    name: Generate iso for atomic
    needs: atomic
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic

  iso_atomic-nvidia:
    name: Generate iso for atomic-nvidia
    needs: atomic-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia

  iso_atomic-slim:
    name: Generate iso for atomic-slim
    needs: atomic-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-slim

  iso_atomic-system76:
    name: Generate iso for atomic-system76
    needs: atomic-system76
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-system76

  iso_atomic-system76-nvidia:
    name: Generate iso for atomic-system76-nvidia
    needs: atomic-system76-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-system76-nvidia

  iso_base:
    name: Generate iso for base
    needs: base
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base

  iso_base-nvidia:
    name: Generate iso for base-nvidia
    needs: base-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-nvidia

  iso_base-slim:
    name: Generate iso for base-slim
    needs: base-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim

  iso_eeems:
    name: Generate iso for eeems
    needs: eeems
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems

  iso_eeems-nvidia:
    name: Generate iso for eeems-nvidia
    needs: eeems-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia

  iso_eeems-slim:
    name: Generate iso for eeems-slim
    needs: eeems-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-slim

  iso_eeems-system76:
    name: Generate iso for eeems-system76
    needs: eeems-system76
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76

  iso_eeems-system76-nvidia:
    name: Generate iso for eeems-system76-nvidia
    needs: eeems-system76-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76-nvidia

  iso_gnome:
    name: Generate iso for gnome
    needs: gnome
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome

  iso_gnome-nvidia:
    name: Generate iso for gnome-nvidia
    needs: gnome-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-nvidia

  iso_gnome-slim:
    name: Generate iso for gnome-slim
    needs: gnome-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-slim

  iso_gnome-system76:
    name: Generate iso for gnome-system76
    needs: gnome-system76
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-system76

  iso_gnome-system76-nvidia:
    name: Generate iso for gnome-system76-nvidia
    needs: gnome-system76-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome-system76-nvidia
