name: build
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

jobs:
  check:
    name: Ensure config is valid
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('make.py') }}
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            build-essential libpython3-dev
            libdbus-1-dev
            libglib2.0-dev
            libcairo2-dev
            libgirepository-2.0-dev
      - name: Ensure config is valid
        run: ./make.py check
  rootfs:
    name: Build atomic-arch:rootfs
    runs-on: ubuntu-latest
    needs: [check]
    permissions:
      contents: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        id: build
        run: |
          set +e
          output=$(sudo ./make.py checkupdates)
          res=$?
          echo $output
          set -e
          if [ $res -eq 2 ];then
            if [[ "$output" == *"mirrorlist "* ]]; then
              sudo ./make.py rootfs --push
            else
              sudo ./make.py build --push rootfs
            fi
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: |
            Automated rootfs update
            skip-checks:true
  base:
    name: atomic-arch:base image
    runs-on: ubuntu-latest
    needs: [rootfs]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=base
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push base
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.rootfs.outputs.Updates}}
  atomic:
    name: atomic-arch:atomic image
    runs-on: ubuntu-latest
    needs: [base]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=atomic
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push atomic
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.base.outputs.Updates}}
  gnome:
    name: atomic-arch:gnome image
    runs-on: ubuntu-latest
    needs: [base]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=gnome
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push gnome
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.base.outputs.Updates}}
  eeems:
    name: atomic-arch:eeems image
    runs-on: ubuntu-latest
    needs: [atomic]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=eeems
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push eeems
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.atomic.outputs.Updates}}
  system76:
    name: atomic-arch:system76 image
    runs-on: ubuntu-latest
    needs: [eeems]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=system76
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push system76
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.atomic.outputs.Updates}}
  nvidia:
    name: atomic-arch:${{ matrix.variant }}-nvidia
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
          - base
          - atomic
          - gnome
          - eeems
          - system76
    needs:
      - base
      - atomic
      - gnome
      - eeems
      - system76
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=${{ matrix.variant }}-nvidia
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push ${{ matrix.variant }}-nvidia
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.atomic.outputs.Updates}}
  slim:
    name: atomic-arch:${{ matrix.variant }}-slim
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
          - base
          - atomic
          - gnome
          - eeems
          - system76
    needs:
      - base
      - atomic
      - gnome
      - eeems
      - system76
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
      - name: Free up space
        if: ${{ contains('atomic eeems system76', matrix.variant) }}
        uses: ./.github/actions/cleanup
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Build
        run: |
          if [[ "$updates" == "true" ]]; then
            echo "Base image updated"
            res = 2
          else
            set +e
            sudo ./make.py checkupdates --target=${{ matrix.variant }}-slim
            res=$?
            set -e
          fi
          if [ $res -eq 2 ];then
            sudo ./make.py build --push ${{ matrix.variant }}-slim
            echo "Updates=true" >> $GITHUB_OUTPUT
          elif [ $res -ne 0 ];then
            exit 1
          else
            echo "No Updates"
            echo "Updates=false" >> $GITHUB_OUTPUT
          fi
        env:
          updates: ${{ needs.atomic.outputs.Updates}}
  iso:
    name: atomic-arch:${{ matrix.variant }}${{ matrix.subvariant }} iso
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
          - base
          - atomic
          - gnome
          - eeems
          - system76
        subvariant:
          - ""
          - -nvidia
          - -slim
    needs:
      - base
      - atomic
      - gnome
      - eeems
      - system76
      - nvidia
      - slim
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
      - name: Install dependencies
        uses: Eeems-Org/apt-cache-action@v1
        with:
          packages: >
            ostree
            podman
            libdbus-1-dev
            libdbus-glib-1-dev
      - name: Install python dependencies
        run: |
          pip install dbus-python
      - name: Add pacman cache
        run: |
          sudo mkdir -p \
            /var/cache/pacman \
            /var/lib/pacman \
            /etc/pacman.d/gnupg
      - name: Clean up system
        run: |
          rm -rf .git/
          docker system prune --force
          docker rmi $(docker image ls -aq) || true
          docker system prune --force
          export DEBIAN_FRONTEND="noninteractive"
          sudo apt-get autoremove -y
          sudo apt-get autoclean -y
      - name: Build
        run: |
          if [ ! -f /etc/containers/seccomp.json ];then
            sudo cp seccomp.json /etc/containers/seccomp.json
          fi
          sudo ./make.py iso ${{ matrix.variant }}${{ matrix.subvariant }}
      - name: Upload iso
        uses: actions/upload-artifact@v4
        with:
          name: atomic-arch-${{ matrix.variant }}${{ matrix.subvariant }}.iso
          path: /var/lib/system/atomic-arch-${{ matrix.variant }}${{ matrix.subvariant }}-*.iso
