name: Build images
on:
  pull_request: &on-filter
    branches:
      - master
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/iso.yaml
      - .github/workflows/delta.yaml
      - .github/workflows/build-variant.yaml
      - ".github/actions/cleanup/**"
      - make.py
      - seccomp.json
      - .contianerignore
      - "overlay/**"
      - "templates/**"
      - "variants/**"
  push: *on-filter
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

jobs:
  check:
    name: Ensure config is valid
    runs-on: ubuntu-latest
    container:
      image: docker.io/eeems/atomic-arch:_builder
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('.github/workflows/Dockerfile.builder') }}-${{ hashFiles('make.py') }}
      - name: Ensure config is valid
        run: ./make.py check
        env:
          TMPDIR: ${{ runner.temp }}

  rootfs:
    needs: check
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}

  base:
    needs: rootfs
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  base-nvidia:
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  base-slim:
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}
      cleanup: true

  atomic:
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  atomic-nvidia:
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  atomic-slim:
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}
      cleanup: true

  atomic-system76:
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  atomic-system76-nvidia:
    needs: atomic-system76
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  gnome:
    needs: base
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  gnome-nvidia:
    needs: gnome
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  gnome-slim:
    needs: gnome
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}
      cleanup: true

  gnome-system76:
    needs: gnome
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  gnome-system76-nvidia:
    needs: gnome-system76
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  eeems:
    needs: atomic
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  eeems-nvidia:
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  eeems-slim:
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}
      cleanup: true

  eeems-system76:
    needs: eeems
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}

  eeems-system76-nvidia:
    needs: eeems-system76
    uses: ./.github/workflows/build-variant.yaml
    with:
      variant: ${{ github.job }}
      updates: ${{ needs.outputs.updates}}
