name: Build an image

on:
  workflow_call:
    inputs: &inputs
      variant:
        description: Variant to build
        type: string
        required: true
      updates:
        description: If an image this depends on updated
        type: boolean
        required: false
        default: false
      cleanup:
        description: If cleanup should be peformed before building
        type: boolean
        required: false
        default: false
      push:
        description: If the resulting image should be pushed
        type: boolean
        required: false
        default: false
      artifact:
        description: Artifact to load base image from
        type: string
        required: false
        default: ""
      digest:
        description: Digest to expect base image to be
        type: string
        required: false
        default: ""
    outputs:
      updates:
        value: ${{ jobs.run.outputs.updates }}
      digest:
        value: ${{ jobs.run.outputs.digest }}
  workflow_dispatch:
    inputs: *inputs

permissions:
  contents: write
  actions: write
  packages: write

jobs:
  run:
    name: atomic-arch:${{ inputs.variant }} image
    runs-on: ubuntu-latest
    outputs:
      updates: ${{ steps.build.outputs.updates }}
      digest: ${{ steps.image.outputs.digest }}
    container:
      image: ghcr.io/eeems/atomic-arch-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup container
        uses: ./.github/actions/setup-container

      - name: Login to ghcr
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json

      - name: Mask registry passwords
        uses: ./.github/actions/mask-registry-passwords

      - name: Free up space
        if: ${{ inputs.cleanup }}
        uses: ./.github/actions/cleanup
        with:
          root: /run/host

      - name: Import ${{ inputs.artifact != '' && inputs.artifact || '' }} image
        if: inputs.artifact != ''
        uses: ./.github/actions/import-container
        with:
          artifact: ${{ inputs.artifact }}

      - name: Get manifest cache
        if: inputs.artifact != ''
        uses: ./.github/actions/manifest-cache-restore
        with:
          key: manifest_${{ inputs.artifact }}
          artifact: true

      - name: Force digest
        if: inputs.digest != '' && inputs.artifact != ''
        run: |
          python <<'EOF'
          import os
          from make import DIGEST_CACHE_PATH
          from make import _image_digests_write_cache
          from _os import REPO
          from _os import IMAGE
          from _os.podman import podman
          if not os.path.exists(DIGEST_CACHE_PATH):
            print(f'No cache found at {DIGEST_CACHE_PATH}, creating new cache')

          tag = os.environ["image"]
          digest = os.environ["digest"]
          _image_digests_write_cache(f"{REPO}:{tag}", digest)
          podman("tag", digest, image)
          EOF
        env:
          image: ${{ inputs.artifact }}
          digest: ${{ inputs.digest }}

      - name: Build
        id: build
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            echo "::group::checkupdates"
            push=false
            if [[ "${{ inputs.push }}" == "true" ]];then
              push=true
            fi
            if [[ "$VARIANT" == "rootfs" ]];then
              set +e
              output=$(./make.py checkupdates)
              res=$?
              echo $output
              set -e
              if [ $res -eq 2 ];then
                echo "::endgroup::"
                echo "::group::build"
                if [[ "$output" == *"mirrorlist "* ]]; then
                  ./make.py rootfs
                else
                  ./make.py build rootfs
                fi
                updates="true"
              elif [ $res -ne 0 ];then
                exit 1
              else
                echo "No Updates"
              fi
              echo "::endgroup::"
            else
              if [[ "$updates" == "true" ]]; then
                echo "Previous image updated"
                res=2
              else
                set +e
                ./make.py checkupdates --target=${{ inputs.variant }}
                res=$?
                set -e
              fi
              if [ $res -eq 2 ];then
                echo "::endgroup::"
                echo "::group::build"
                ./make.py build ${{ inputs.variant }}
                updates="true"
                echo "::endgroup::"
              elif [ $res -ne 0 ];then
                exit 1
              else
                echo "No Updates"
                echo "::endgroup::"
              fi
            fi
            name=$(
            python <<'EOF'
            import os, json, make
            from subprocess import check_output
            from _os import REPO
            from _os.podman import podman_cmd
            print(f"{REPO}:${{ inputs.variant }}")
            EOF
            )
            echo "::group::layers"
            skopeo inspect containers-storage:$name --raw \
            | jq -r '.layers[] | "\(.digest) \(.size)"' \
            | while read -r hash size;do
              printf '%s %s\n' "$hash" "$(numfmt --to=iec $size)"
            done
            echo "::endgroup::"
            if $push;then
              echo "::group::push"
              ./make.py push ${{ inputs.variant }}
              echo "::endgroup::"
            fi
            echo "updates=$updates" >> $GITHUB_OUTPUT
        env:
          updates: ${{ inputs.updates }}
          VARIANT: ${{ inputs.variant }}

      - name: Save manifest cache
        uses: ./.github/actions/manifest-cache-update
        with:
          key: manifest_${{ inputs.variant }}
          artifact: true

      - name: Get image information
        id: image
        run: |
          python <<'EOF'
          import os, json, make
          from subprocess import check_output
          from _os import REPO
          from _os.podman import podman_cmd
          name = f"{REPO}:${{ inputs.variant }}"
          digest = check_output(
            podman_cmd(
              "image",
              "inspect",
              "--format={{.Digest}}",
              name,
            )
          ).strip().decode("utf-8")
          with open(os.environ["GITHUB_OUTPUT"], 'a') as f:
            _ = f.write(f"name={json.dumps(name)}\n")
            _ = f.write(f"digest={digest}")
          EOF

      - name: Upload image artifact
        uses: ./.github/actions/upload-image
        with:
          image: ${{ steps.image.outputs.name }}
          name: ${{ inputs.variant }}
          if-no-files-found: ignore

      - name: Fix git permissions
        run: git config --global --add safe.directory "$(realpath .)"

      - name: Auto commit any updates
        if: inputs.push && inputs.variant == 'rootfs'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: |
            Automated rootfs update
            skip-checks:true
            file_pattern: 'variants/rootfs.Container'
