name: Build Base Image

on:
  push:
    branches: [master]
    paths:
      - "Dockerfile.base"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: read
  packages: write # Needed for GHCR

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io

      - name: Generate tags
        id: meta
        run: |
          IMAGE_NAME=docker.io/eeems/atomic-arch:_builder
          echo "image=${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "tags=${IMAGE_NAME}-${{ github.sha }},${IMAGE_NAME}" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .github/workflows
          file: Dockerfile.builder
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
