name: Build an image

on:
  workflow_call:
    secrets:
      DISPATCH_PAT:
        required: true
    inputs: &inputs
      variant:
        description: Variant to build
        type: string
        required: true
      updates:
        description: If an image this depends on updated
        type: boolean
        required: false
        default: false
      cleanup:
        description: If cleanup should be peformed before building
        type: boolean
        required: false
        default: false
      push:
        description: If the resulting image should be pushed
        type: boolean
        required: false
        default: false
      artifact:
        description: Artifact to load base image from
        type: string
        required: false
        default: ""
    outputs:
      updates:
        value: ${{ jobs.run.outputs.updates }}
  workflow_dispatch:
    inputs: *inputs

permissions:
  contents: write
  actions: write
  packages: write
  security-events: write

jobs:
  run:
    name: atomic-arch:${{ inputs.variant }} image
    runs-on: ubuntu-latest
    outputs:
      updates: ${{ steps.build.outputs.updates }}
    container:
      image: ghcr.io/eeems/atomic-arch-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-container

      - name: Login to ghcr
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json

      - uses: ./.github/actions/mask-registry-passwords

      - name: Free up space
        if: ${{ inputs.cleanup }}
        uses: ./.github/actions/cleanup
        with:
          root: /run/host

      - name: Download ${{ inputs.artifact }} image
        id: download
        if: inputs.artifact != ''
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact }}

      - name: Load ${{ inputs.artifact }} image
        if: inputs.artifact != ''
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            cd "${{ steps.download.outputs.download-path }}"
            zstdcat "${{ inputs.artifact }}.tar.zstd" | podman load
            rm "${{ inputs.artifact }}.tar.zstd"

      - uses: ./.github/actions/manifest-cache-restore

      - name: Build
        id: build
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            echo "::group::checkupdates"
            push=false
            args=""
            if [[ "${{ inputs.push }}" == "true" ]];then
              push=true
              args="--push"
            fi
            if [[ "$VARIANT" == "rootfs" ]];then
              set +e
              output=$(./make.py checkupdates)
              res=$?
              echo $output
              set -e
              if [ $res -eq 2 ];then
                echo "::endgroup::"
                echo "::group::build"
                if [[ "$output" == *"mirrorlist "* ]]; then
                  ./make.py rootfs $args
                else
                  ./make.py build $args rootfs
                fi
                echo "updates=true" >> $GITHUB_OUTPUT
                updates="true"
              elif [ $res -ne 0 ];then
                exit 1
              else
                echo "No Updates"
                echo "updates=false" >> $GITHUB_OUTPUT
              fi
              echo "::endgroup::"
            else
              if [[ "$updates" == "true" ]]; then
                echo "Previous image updated"
                res=2
              else
                set +e
                ./make.py checkupdates --target=${{ inputs.variant }}
                res=$?
                set -e
              fi
              if [ $res -eq 2 ];then
                echo "::endgroup::"
                echo "::group::build"
                ./make.py build $args ${{ inputs.variant }}
                echo "updates=true" >> $GITHUB_OUTPUT
                updates="true"
                echo "::endgroup::"
              elif [ $res -ne 0 ];then
                exit 1
              else
                echo "No Updates"
                echo "updates=false" >> $GITHUB_OUTPUT
                echo "::endgroup::"
              fi
            fi
            if $push && [[ "$updates" != "true" ]];then
              echo "::group::push"
              ./make.py push ${{ inputs.variant }}
              echo "::endgroup::"
            fi
        env:
          TMPDIR: ${{ runner.temp }}
          updates: ${{ inputs.updates }}
          VARIANT: ${{ inputs.variant }}

      - uses: ./.github/actions/manifest-cache-update
        if: ${{ inputs.push }}

      - name: Export image
        id: export
        if: steps.build.outputs.updates == 'true' && !inputs.push
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            image=$(python <<EOF
            import make
            from _os import REPO
            print(REPO)
            EOF
            )
            podman save "$image:${{ inputs.variant }}" | zstd -o ${{ inputs.variant }}.tar.zstd
            echo \
              "outputs={\"name\":\"${{ inputs.variant }}\",\"path\":\"${{ inputs.variant }}.tar.zstd\"}" \
            >> $GITHUB_OUTPUT

      - name: Upload ${{ fromJson(steps.export.outputs.outputs).name }} image
        if: steps.build.outputs.updates == 'true' && !inputs.push
        uses: actions/upload-artifact@v4
        with:
          name: ${{ fromJson(steps.export.outputs.outputs).name }}
          path: ${{ fromJson(steps.export.outputs.outputs).path }}
          if-no-files-found: ignore

      - name: Auto commit any updates
        if: inputs.push && inputs.variant == 'rootfs'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: |
            Automated rootfs update
            skip-checks:true

      - name: Trivy cache
        uses: actions/cache@v4
        with:
          path: ./.trivy
          key: trivy-${{ hashFiles('make.py') }}

      - name: Scan container
        if: steps.build.outputs.updates == 'true' && !inputs.push
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            ./make.py scan ${{ inputs.variant }}
            cat .trivy/report.md >> $GITHUB_STEP_SUMMARY
            rm .trivy/report.json
            rm .trivy/report.md
            mv .trivy/report.sarif .

      - name: Upload Scan results to GitHub Security tab
        if: steps.build.outputs.updates == 'true' && !inputs.push
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "report.sarif"
          category: ${{ inputs.variant }}
