name: Build an iso

on:
  workflow_call:
    inputs: &inputs
      variant:
        description: Which variant to generate an ISO for
        type: string
        required: true
      pull:
        description: Pull the latest image, or use the workflow artifact
        type: boolean
        default: false
        required: false
      offline:
        description: Offline installable?
        type: boolean
        default: true
        required: false
      artifact:
        description: Artifact to load base image from
        type: string
        required: false
        default: ""
      digest:
        description: Digest to expect base image to be
        type: string
        required: false
        default: ""
      push:
        # TODO implement this
        description: Push the generated iso
        type: boolean
        default: false
        required: false
  workflow_dispatch:
    inputs: *inputs

permissions:
  contents: read
  packages: read

jobs:
  run:
    name: arkes:${{ inputs.variant }} iso${{ inputs.offline && ' (offline)' || ''}}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/eeems/arkes-builder:${{ github.head_ref || github.ref_name }}
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup container
        uses: ./.github/actions/setup-container

      - name: Login to ghcr
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json

      - name: Mask registry passwords
        uses: ./.github/actions/mask-registry-passwords

      - name: Free up space
        uses: ./.github/actions/cleanup
        with:
          root: /run/host

      - name: Import image
        if: inputs.artifact != ''
        uses: ./.github/actions/import-container
        with:
          artifact: ${{ inputs.artifact }}
          image: ghcr.io/eeems/arkes:${{ inputs.artifact }}

      - name: Get manifest cache
        if: inputs.artifact != ''
        uses: ./.github/actions/manifest-cache-restore
        with:
          key: manifest_${{ inputs.artifact }}
          artifact: true

      - name: Force digest
        if: inputs.digest != '' && inputs.artifact != ''
        uses: ./.github/actions/force-image-digest
        with:
          tag: ${{ inputs.artifact }}
          digest: ${{ inputs.digest }}

      - name: Build
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            args=""
            if [[ "${{ inputs.offline }}" != "true" ]];then
              args="$args --no-local-image"
            fi
            ./make.py iso $args ${{ inputs.variant }}

      - name: Upload iso
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.offline && 'offline' || 'online' }}_arkes-${{ inputs.variant }}.iso
          path: /var/lib/system/arkes-${{ inputs.variant }}-*.iso
