name: Build an iso

on:
  workflow_dispatch:
    inputs:
      variant:
        description: Which variant to generate an ISO for
        type: string
        required: true

permissions:
  contents: read
  packages: read

concurrency:
  group: delta-${{ inputs.variant }}
  cancel-in-progress: true

jobs:
  run:
    name: atomic-arch:${{ inputs.variant }} iso
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/eeems/atomic-arch-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        -v /var/lib/containers:/var/lib/containers
        -v /:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Ensure .docker exists
        run: |
          mkdir -p /github/home/.docker
          if ! [ -f /github/home/.docker/config.json ];then
            echo '{"auths":{}}' > /github/home/.docker/config.json
          fi

      - name: Login to dockerhub
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json

      - name: Free up space
        uses: ./.github/actions/cleanup
        with:
          root: /run/host

      - name: Build
        shell: bash
        run: |
          mkdir -p /run/podman
          podman system service --time 0 unix:///run/podman/podman.sock &
          if [ ! -f /etc/containers/seccomp.json ];then
            cp seccomp.json /etc/containers/seccomp.json
          fi
          ./make.py iso ${{ inputs.variant }}
          kill $(jobs -p) || true
        env:
          TMPDIR: ${{ runner.temp }}

      - name: Upload iso
        uses: actions/upload-artifact@v4
        with:
          name: atomic-arch-${{ inputs.variant }}.iso
          path: /var/lib/system/atomic-arch-${{ inputs.variant }}-*.iso
