name: Build an image

on:
  workflow_call:
    inputs: &inputs
      variant:
        description: Variant to build
        type: string
        required: true
      push:
        description: If the resulting image should be pushed
        type: boolean
        required: false
        default: false
      artifact:
        description: Artifact to load base image from
        type: string
        required: false
        default: ""
      digest:
        description: Digest to expect base image to be
        type: string
        required: false
        default: ""
  workflow_dispatch:
    inputs: *inputs

permissions:
  contents: read
  packages: read
  security-events: write

jobs:
  run:
    name: arkes:${{ inputs.variant }} image
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/eeems/arkes-builder:${{ github.head_ref || github.ref_name }}
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        --volume=/:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup container
        uses: ./.github/actions/setup-container

      - name: Login to ghcr
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json

      - name: Mask registry passwords
        uses: ./.github/actions/mask-registry-passwords

      - name: Free up space
        uses: ./.github/actions/cleanup
        with:
          root: /run/host

      - name: Import ${{ inputs.artifact != '' && inputs.artifact || '' }} image
        if: inputs.artifact != ''
        uses: ./.github/actions/import-container
        with:
          artifact: ${{ inputs.artifact }}
          image: ghcr.io/eeems/arkes:${{ inputs.artifact }}

      - name: Get manifest cache
        if: inputs.artifact != ''
        uses: ./.github/actions/manifest-cache-restore
        with:
          key: manifest_${{ inputs.artifact }}
          artifact: true

      - name: Force digest
        if: inputs.digest != '' && inputs.artifact != ''
        uses: ./.github/actions/force-image-digest
        with:
          tag: ${{ inputs.artifact }}
          digest: ${{ inputs.digest }}

      - name: Pull
        if: inputs.artifact == ''
        uses: ./.github/actions/run-with-podman-service
        with:
          run: ./make.py pull ${{ inputs.variant }}

      - name: Fix git permissions
        run: git config --global --add safe.directory "$(realpath .)"

      - name: Trivy cache
        uses: actions/cache@v4
        with:
          path: ./.trivy
          key: trivy-${{ hashFiles('make.py') }}

      - name: Pacman cache
        uses: actions/cache/restore@v4
        with:
          key: pacman-scan-${{ inputs.variant }}
          path: /var/cache/pacman

      - name: Scan container
        uses: ./.github/actions/run-with-podman-service
        with:
          run: |
            ./make.py scan ${{ inputs.variant }}
            cat .trivy/report.md >> $GITHUB_STEP_SUMMARY
            rm .trivy/report.json
            rm .trivy/report.md
            mv .trivy/report.sarif .

      - name: Pacman cache
        uses: actions/cache/save@v4
        with:
          key: pacman-scan-${{ inputs.variant }}
          path: /var/cache/pacman

      - name: Upload Scan results to GitHub Security tab
        if: inputs.push
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "report.sarif"
          category: ${{ inputs.variant }}
